.busca-consulta {
    height: 220px;
    background-color: white;
}

.busca-consulta h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.especialidade h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.especialidade .card {
    margin-bottom: 5px;
}
.especialidade .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.especialidade i {
    margin-right: 10px;
    font-size: 23px;
    color: green;
}
